
<div class="container">

    <table class="table table-striped table-responsive">
	<thead>
		<tr>
			<th>
				<h3>Specifiche del progetto</h3>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
        <p>
        Una società di sviluppo software gestisce n progetti diversi e ad ogni progetto sono assegnate n risorse.</br>
        La definizione di "Senior" e "Junior" è dedotta dalla data di assunzione: se la risorsa è assunta da meno di 2
        anni sarà "Junior", altrimenti "Senior".</br>
        Ogni progetto possiede delle fasi di avanzamento:
        <ul>
          <li>Evaluation</li>
          <li>Design</li>
          <li>Development</li>
          <li>Delivery</li>
          <li>Closing</li>
        </ul>


Si richiede di creare la base dati e sviluppare le funzioni di:
<ul>
  <li>assegnazione ad un progetto di un determinato numero di persone "Senior" e "Junior"</li>
  <li>assegnazione/rimozione/modifica/lettura delle risorse sui progetti</li>
  <li>in fase di visualizzazione deve essere evidenziato se la risorsa è "Senior" o "Junior"</li>
  <li>creazione/modifica stato/lettura/rimozione degli interi progetti</li>
</ul>





L’obiettivo è creare una webapp che evidenzi gli strati applicativi separando la logica dalla vista.

Per questo motivo utilizzerete dei servizi (webservice) RESTful in modo tale da poter sfruttare il back-end anche con un’applicazione mobile.

Partite con il disegno del database (schema Entity-Relationship).

Una volta definito lo schema concentratevi sull’implementazione dei servizi REST secondo lo schema CRUD (Create-Read-Update-Delete).

Contestualmente alcuni di voi potrebbero implementare il front-end.

E’ opportuno che definiate bene il database, in modo tale da poter convertire le entità in classi (il MODEL) per poter implementare il CONTROLLER che interagirà (manipolerà) i dati del DB attraverso il MODEL.

La parte di VIEW dovrà essere coerente alle specifiche funzionali.

</p>
			</td>
		</tr>
	</tbody>
</table>

</div>
