body
{
  background-image: url("/img/pwa-fast30.png");
  background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: bottom;
   background-size: 80%;
 }


 .navbar-inverse {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
 }
